body:not(#tinymce) {
  background-color: $background-primary;
}
.container {
  padding-left: 0!important;
  padding-right: 0!important;
}
.row {
  margin-left: 0!important;
  margin-right: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
}
.main {
  padding-left: 0!important;
  padding-right: 0!important;
}
