// helper: primary secondary tertiary quaternary quinary senary septenary octonary nonary denary

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:             #27ae60;

// Font colors
$font-primary:              #2e2e2e;
$font-secondary:            #333333;
$font-tertiary:             #999999;
$font-quaternary:           #ffffff;
$font-quinary:              #9f9f9f;

$navigation-active:         #9f9f9f;

// Background colors
$background-primary:        #282828;
$background-secondary:      #2e2e2e;
$background-tertiary:       #ffffff;
$background-quaternary:     #f1f1f1;
$background-quinary:        #1a1a1a;
$background-senary:         #222222;
$background-septenary:      #0099ff;
$background-octonary:       #787878;
$background-nonary:         #db4a39;

// Border colors
$border-color-primary:      #f1f1f1;
$border-color-secondary:    #e9e9e9;
$border-color-teritary:     #000000;
$border-color-quaternary:   #2d2d2d;
$border-color-quinary:      #9f9f9f;

$navigation-border-bottom:  #0099ff;
