// helper: primary secondary tertiary quaternary quinary senary septenary octonary nonary denary

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:           #27ae60;

// Background colors
$background-primary:      #000000;
$background-secondary:    #2e2e2e;
$background-tertiary:     #ffffff;
$background-quaternary:   #f1f1f1;

// Border colors
$border-color-primary:    #f1f1f1;
$border-color-secondary:  #e9e9e9;
