footer {
  margin-bottom: 50px;
  .container {
    .footer-segment-wrapper {
      margin-left: 0;
      margin-right: 0;
      min-height: 390px;
      background-color: $background-quinary;
      border-top: 5px solid $border-color-teritary;
      .footer-segment {
        margin-top: 45px;
        .footer-title {
          margin-bottom: 25px;
          color: $font-quaternary;
          text-transform: uppercase;
        }
      }
      @media (max-width: 991px) {
        .footer-segment {
          margin-top: 15px;
          padding-bottom: 15px;
        }
      }
      // About us
      .footer-about {
        img {
          margin-bottom: 25px;
          width: 100%;
        }
        .about-text {
          color: $font-senary;
        }
      }
      // Quick Links
      .footer-links {
        ul {
          padding-left: 0;
          list-style-type: none;
          position: relative;
          li {
            position: relative;
            border-bottom: 1px solid $border-color-senary;
            a {
              display: inline;
              color: $font-septenary;
              font-family: "GeorgiaRegular";
              font-size: 12px;
              text-decoration: none;
            }
            a:hover {
              color: $font-senary;
              text-decoration: none;
            }
          }
          li:before {
            content: "\00bb";
            color: $font-senary;
            margin-right: 10px;
          }
          li:last-child {
            position: relative;
            border-bottom: none;
          }
        }
      }
      // Two Last Blogs
      .footer-last-blogs {
        color: $font-senary;
        .two-blogs-single {
          height: auto;
          span {
            float: left;
            font-family: "GeorgiaRegular";
            font-size: 10px;
            line-height: 13px;
            text-decoration: none;
          }
          span:nth-child(3){
          }
          p {
            clear: both;
            padding-top: 20px;
            line-height: 14px;
          }
        }
        .two-blogs-single:last-child() {
          margin-top: 30px;
        }
      }
    }
    // Contact form
    .footer-contact {
      .wpcf7 {
        form {
          position: relative;
          top: -15px;
          p {
            label {
              height: 30px;
              margin-bottom: 0;
              span {
                input {
                  margin-left: 0;
                  border: none;
                  border-radius: 5px;
                  height: 30px;
                  padding-left: 15px;
                  width: 100%;
                  background-color: $background-denary
                }
                input::placeholder {
                  font-family: "GeorgiaRegular";
                  font-size: 13px;
                  line-height: 21px;
                  color: $font-octonary;
                  text-transform: capitalize;
                }
                textarea {
                  border: none;
                  border-radius: 5px;
                  padding-left: 15px;
                  width: 100%!important;
                  background-color: $background-denary
                }
                textarea::placeholder {
                  font-family: "GeorgiaRegular";
                  font-size: 13px;
                  line-height: 21px;
                  color: $font-octonary;
                }
              }
            }
            .wpcf7-submit {
              font-family: "GeorgiaRegular";
              font-size: 13px;
              text-transform: uppercase;
              line-height: 14.4pt;
              color: $font-quaternary;
              margin-left: 5px;
              padding: 0;
              width: 70px;
              height: 30px;
              background-color: $background-septenary;
              border: none;
              border-radius: 5px;
              margin-top: 5px;
              margin-left: 0;
            }
          }
        }
      }
    }
    .footer-bottom {
      height: 60px;
      background-color: $background-senary;
      border-top: 1px solid $border-color-quaternary;
      display: flex;
      align-items: center;
      p {
        color: $font-senary;
      }
      p:last-child {
        text-align: right;
      }
    }
    @media (max-width: 767px) {
      .footer-bottom {
        align-items: center;
        p {
          color: $font-senary;
          text-align: center;
        }
        p:last-child {
          text-align: center;
        }
      }
    }
  }
}
