header {
  .container {
    .toggler {
      width: 100%;
      height: 60px;
      background-color: $background-secondary;
    }
    .nav-primary-wrapper {
      padding: 0 15px;
      background-color: $background-tertiary;
      .nav-primary {
        width: 100%;
        height: 80px;
        border-bottom: 5px solid $border-color-primary;
        div {
          ul {
            li {
              margin-top: 35px;
              margin-right: 20px;
              a {
                text-decoration: none;
                font-family: "GeorgiaRegular";
                text-transform: uppercase;
                font-size: 14px;
                line-height: 14px;
                color: $font-primary;
              }
            }
            li.current-menu-item {
             color: $navigation-active;
             border-bottom: 5px solid $navigation-border-bottom;
             padding-bottom: 16px;
            }
            li.current-menu-item a {
             color: $navigation-active;
            }
          }
        }
      }
    }
    .page-info-wrapper {
      height: 150px;
      padding: 0 15px;
      background-color: $background-tertiary;
      border-bottom: 5px solid $border-color-secondary;
    }
  }
}
