header {
  .container {
    .toggler {
      width: 100%;
      height: 60px;
      background-color: $background-secondary;
      .socials-wrapper {
        height: 100%;
        width: auto;
        display: inline-block;
        float: right;
        margin-right: 15px;
        padding-top: 12px;
        .socials-link {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 17px;
          background-color: $background-octonary;
          background-repeat: no-repeat;
          background-position: center;
        }
        .socials-link:hover {
          background-color: $background-nonary;
        }
        .linkedin {
          background-image: url("../images/social-icons/icon-linkedin.svg");
        }
        .twitter {
          background-image: url("../images/social-icons/icon-twitter.svg");
        }
        .pinterest {
          background-image: url("../images/social-icons/icon-pinterest.svg");
        }
        .googleplus {
          background-image: url("../images/social-icons/icon-google-plus.svg");
        }
        .rss {
          background-image: url("../images/social-icons/icon-rss.svg");
        }
      }
    }
    .nav-primary-wrapper {
      padding: 0 15px;
      background-color: $background-tertiary;
      .nav-primary {
        width: 100%;
        height: 80px;
        border-bottom: 5px solid $border-color-primary;
        div {
          ul {
            li {
              margin-top: 35px;
              margin-right: 20px;
              a {
                text-decoration: none;
                font-family: "GeorgiaRegular";
                text-transform: uppercase;
                font-size: 14px;
                line-height: 14pt;
                color: $font-primary;
              }
            }
            li.current-menu-item {
             color: $navigation-active;
             border-bottom: 5px solid $navigation-border-bottom;
             padding-bottom: 16px;
            }
            li.current-menu-item a {
             color: $navigation-active;
            }
          }
        }
      }
    }
    .page-info-wrapper {
      min-height: 150px;
      padding: 0 15px;
      background-color: $background-tertiary;
      border-bottom: 5px solid $border-color-secondary;
      position: relative;
      // margin-left: 0;
      // margin-right: 0;
      .brand {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        width: 230px;
        h2 {
          color: $font-secondary;
          line-height: 43.2pt;
        }
        p {
          color: $font-tertiary;
        }
      }
      .search-form {
        position: relative;
        display: flex;
        justify-content: flex-end;
        label {
          .search-field {
            font-family: "GeorgiaRegular";
            font-size: 12px;
            line-height: 14.4pt;
            color: $font-tertiary;
            width: 220px;
            height: 30px;
            border-radius: 5px;
            border: none;
            background-color: $background-quaternary;
          }
          .search-field::placeholder {
            font-family: "GeorgiaRegular";
            font-size: 12px;
            line-height: 14.4pt;
            color: $font-tertiary;
          }
        }
        .search-submit {
          font-family: "GeorgiaRegular";
          font-size: 12px;
          text-transform: uppercase;
          line-height: 14.4pt;
          color: $font-quaternary;
          margin-left: 5px;
          padding: 4px 0 0 0;
          width: 70px;
          height: 30px;
          background-color: $background-septenary;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}
