@font-face {
  font-family:"GeorgiaRegular";
  src:url("../fonts/Georgia.eot");
  src:url("../fonts/Georgia.eot?#iefix") format("eot"),
      url('../fonts/Georgia.woff2') format('woff2'),
      url("../fonts/Georgia.woff") format("woff"),
      url("../fonts/Georgia.ttf") format("truetype");
}
