@font-face {
  font-family:"GeorgiaRegular";
  src:url("../fonts/Georgia.eot");
  src:url("../fonts/Georgia.eot?#iefix") format("eot"),
      url('../fonts/Georgia.woff2') format('woff2'),
      url("../fonts/Georgia.woff") format("woff"),
      url("../fonts/Georgia.ttf") format("truetype");
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "GeorgiaRegular";
  font-size: 36pt;
  margin-bottom: 0;
}

p {
  font-family: "GeorgiaRegular";
  font-size: 12pt;
  margin-bottom: 0;
}
